src/main/mule/tutorialspedia.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f2447329-7282-4e96-b143-36a71372fc6f" >
		<http:listener-connection host="0.0.0.0" port="8043" />
	</http:listener-config>
	<flow name="tutorialspediaFlow" doc:id="06aa1351-cfa7-4e05-8dcc-356656bdf3f3" >
		<http:listener doc:name="HTTP:8043/tutorials-pedia" doc:id="3f648cfb-a0ed-413e-b58f-ac675a5b70f5" config-ref="HTTP_Listener_config" path="/tutorials-pedia"/>
		<ee:transform doc:name="Transform Message" doc:id="28392fca-5806-40b6-a1b3-d4ffc0c86829" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="payload" doc:id="fc81189e-03b1-4688-9b3f-f30bad3de004" message="#[payload]"/>
	</flow>
</mule>
